/**
 Mixins
*/
/* Centers responsive text over a responsive image */
/* Adjusts font size for our media queries */
/* Adds styles that animate an image overlay */
/**
 Universal Styles
*/
* {
  box-sizing: border-box; }

body {
  color: #101010;
  font-family: 'Source Sans Pro', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

h1 {
  font-size: 42px;
  letter-spacing: -1px;
  margin-bottom: 60px; }

h2 {
  font-size: 34px; }

h2.alt {
  color: white;
  margin-top: 60px; }

p {
  color: #666666;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 60px; }

a, a:hover, a:focus, a:visited {
  color: inherit;
  text-decoration: none; }

a:focus {
  outline: none; }

a {
  transition: opacity 200ms ease-out;
  opacity: 1; }

a:hover {
  opacity: 0.5; }

button {
  padding: 12px 21px;
  background: white;
  outline: none;
  border: 3px solid black;
  font-size: 20px;
  font-weight: bold;
  transition: color 200ms ease, background 200ms ease; }

button.secondary {
  border: 3px solid #448CFB;
  color: #448CFB;
  transition: color 400ms ease, background 400ms ease; }
  button.secondary:hover {
    color: white;
    background: #448CFB; }

button.primary, button.case-studies {
  border: 3px solid #0FBB35;
  color: #0FBB35; }
  button.primary:hover, button.case-studies:hover {
    color: white;
    background: #0FBB35; }

button.case-studies {
  background: black;
  margin-top: 60px;
  margin-bottom: 90px; }
  button.case-studies:hover {
    transition: color 400ms ease, background 400ms ease; }

ul {
  margin-bottom: 0;
  padding-left: 0; }
  ul li {
    list-style-type: none; }

img {
  max-width: 100%;
  display: block;
  height: auto;
  position: relative; }

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.underline {
  text-decoration: underline; }

/**
 Page-specific styling
*/
.section-1 {
  position: relative;
  background: #3A2C2C; }
  .section-1 .header {
    position: fixed;
    top: 0;
    z-index: 2;
    background: #292424;
    color: white;
    width: 100%; }
    .section-1 .header span {
      position: relative; }
    .section-1 .header .logo {
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
      padding: 20px; }
      .section-1 .header .logo:hover {
        opacity: 1; }
    .section-1 .header ul {
      float: right;
      padding-right: 40px; }
      .section-1 .header ul li {
        display: inline-block;
        position: relative;
        margin: 20px;
        font-size: 18px;
        font-weight: bold; }
      .section-1 .header ul a:hover {
        opacity: 1; }
  .section-1 img {
    opacity: 0.6; }
  .section-1 .header.scroll-up, .section-1 .header.scroll-down {
    transition: transform 500ms; }
  .section-1 .header.scroll-up {
    transform: translate3D(0, 0, 0); }
  .section-1 .header.scroll-down {
    transform: translate3D(0, -100%, 0); }
  .section-1 .text-overlay {
    position: absolute;
    text-align: center;
    top: calc(50% - 0px);
    left: 50%;
    transform: translate(-50%, -50%);
    top: 35%;
    z-index: 1; }
    .section-1 .text-overlay h1 {
      text-align: center;
      font-size: 80px;
      margin-bottom: 50px;
      color: white; }
    .section-1 .text-overlay button {
      background: transparent; }
      .section-1 .text-overlay button:hover {
        background: #0FBB35; }

.section-2 {
  margin-top: 60px;
  text-align: center; }
  .section-2 h1 {
    font-size: 54px; }
  .section-2 p {
    font-size: 22px; }
  .section-2 .inner {
    width: 80%;
    margin: 0 auto; }

.section-3 {
  margin-top: 150px;
  overflow: hidden; }
  .section-3 .img-overlay {
    display: flex;
    justify-content: center;
    align-items: center; }
    .section-3 .img-overlay .text-container {
      text-align: center;
      width: 75%;
      opacity: 0;
      transition: opacity 300ms ease-in-out; }
      .section-3 .img-overlay .text-container h2, .section-3 .img-overlay .text-container p {
        color: white; }
      .section-3 .img-overlay .text-container h2 {
        font-size: 40px; }
    .section-3 .img-overlay:hover .text-container {
      opacity: 1; }
  .section-3 .image-small, .section-3 .image-large {
    position: relative;
    overflow: hidden;
    float: left; }
    .section-3 .image-small img, .section-3 .image-large img {
      transition: transform 300ms ease-in-out; }
    .section-3 .image-small .img-overlay, .section-3 .image-large .img-overlay {
      transition: all 300ms ease-in-out; }
    .section-3 .image-small:hover img, .section-3 .image-large:hover img {
      transform: scale(1.04); }
    .section-3 .image-small:hover .img-overlay, .section-3 .image-large:hover .img-overlay {
      background: rgba(0, 0, 0, 0.7); }
  .section-3 .image-large {
    width: calc(100% * 2 / 3); }
  .section-3 .image-small {
    width: calc(100% / 3); }

.section-4 {
  background: black;
  text-align: center;
  padding-top: 60px; }
  .section-4 h2 {
    font-weight: normal; }

.section-5 {
  position: relative;
  top: -40px; }
  .section-5 li {
    width: calc(100% / 3 - 2 * 20px);
    float: left;
    margin: 20px;
    position: relative;
    overflow: hidden; }
    .section-5 li .img-overlay {
      transition: all 300ms ease-in-out; }
    .section-5 li:hover .img-overlay {
      background: rgba(0, 0, 0, 0.7); }
    .section-5 li h2 {
      position: absolute;
      z-index: 1;
      top: 0;
      color: white;
      width: 100%;
      text-align: center;
      font-size: 40px;
      margin-top: 40px; }
  .section-5 .img-overlay {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    background: rgba(16, 16, 16, 0.3); }
    .section-5 .img-overlay p {
      color: white;
      font-size: 18px;
      margin-bottom: 20px;
      margin-right: 30px;
      opacity: 0;
      transition: opacity 300ms ease-in-out; }
      .section-5 .img-overlay p .fa {
        margin-left: 5px; }
    .section-5 .img-overlay:hover p {
      opacity: 1; }

.section-6 {
  margin-top: 60px;
  margin-bottom: 120px;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-50px);
  transition: transform 1200ms, opacity 1200ms;
  /* Image Styles */
  /* Content Styles */
  /* Scrolling animation */ }
  .section-6 .image-left, .section-6 .image-right {
    width: calc(50% - 20px - 10px);
    float: left;
    position: relative;
    overflow: hidden; }
    .section-6 .image-left img, .section-6 .image-right img {
      transition: transform 300ms ease-in-out; }
    .section-6 .image-left .img-overlay, .section-6 .image-right .img-overlay {
      transition: all 300ms ease-in-out; }
    .section-6 .image-left:hover img, .section-6 .image-right:hover img {
      transform: scale(1.04); }
    .section-6 .image-left:hover .img-overlay, .section-6 .image-right:hover .img-overlay {
      background: rgba(0, 0, 0, 0.7); }
  .section-6 .image-left {
    margin-left: 20px;
    margin-right: 10px; }
  .section-6 .image-right {
    margin-left: 10px;
    margin-right: 20px; }
  .section-6 span {
    display: inline-block;
    margin-top: 20px;
    color: #D5D5D5;
    font-size: 16px; }
  .section-6 h1 {
    /*font-size: 32px;*/
    margin-top: 15px;
    margin-bottom: 15px;
    transition: transform 3000ms; }
  .section-6 p {
    font-size: 20px; }
  .section-6 .content-left, .section-6 .content-right {
    width: 50%;
    float: left; }
  .section-6 .content-left {
    padding-left: 20px;
    padding-right: 10px; }
  .section-6 .content-right {
    padding-left: 10px;
    padding-right: 20px; }
  .section-6.in-view {
    opacity: 1;
    transform: translateY(0px); }

.section-7 {
  /*margin-top: 25px;*/ }

.section-8 {
  margin-top: 30px; }
  .section-8 .img-overlay {
    display: flex;
    justify-content: center;
    align-items: center; }
  .section-8 h2 {
    color: white;
    text-decoration: underline;
    font-size: 70px; }
  .section-8 .image-left, .section-8 .image-right {
    width: 50%;
    float: left;
    position: relative;
    overflow: hidden; }
    .section-8 .image-left img, .section-8 .image-right img {
      transition: transform 300ms ease-in-out; }
    .section-8 .image-left .img-overlay, .section-8 .image-right .img-overlay {
      transition: all 300ms ease-in-out; }
    .section-8 .image-left:hover img, .section-8 .image-right:hover img {
      transform: scale(1.04); }
    .section-8 .image-left:hover .img-overlay, .section-8 .image-right:hover .img-overlay {
      background: rgba(0, 0, 0, 0.7); }
  .section-8 .image-left h2 {
    color: #EAE617; }
  .section-8 .image-left .img-overlay {
    background: rgba(0, 0, 0, 0.3); }
  .section-8 .image-right .img-overlay {
    background: rgba(0, 0, 255, 0.3); }

.section-9 {
  padding-top: 80px;
  background: black;
  color: white; }
  .section-9 h2 {
    font-size: 22px;
    margin-bottom: 40px; }
  .section-9 p {
    color: #747474;
    font-size: 19px;
    margin-bottom: 0; }
  .section-9 .fa {
    font-size: 24px;
    padding-right: 8%; }
  .section-9 .social-media {
    margin-top: 30px; }
  .section-9 .subscribe {
    color: white;
    margin-top: 10px; }
  .section-9 .underline {
    text-decoration: none;
    border-bottom: 2px solid #747474;
    display: inline-block; }
  .section-9 .copyright {
    font-size: 16px;
    margin-top: 120px;
    margin-bottom: 20px; }

/**
 Creative Link Effects Import 
*/
/* Effect 1 */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
  display: inline-block;
  opacity: 0;
  transition: transform 0.3s, opacity 0.2s; }

.cl-effect-1 a::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px); }

.cl-effect-1 a::after {
  margin-left: 10px;
  content: ']';
  transform: translateX(-20px); }

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
  opacity: 1;
  transform: translateX(0px); }

/* Effect 4 */
.cl-effect-4 a {
  padding: 0 0 10px; }

.cl-effect-4 a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  content: '';
  opacity: 0;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  transform: translateY(-10px); }

.cl-effect-4 a:hover::after {
  height: 3px;
  opacity: 1;
  transform: translateY(2px); }

/* Effect 12 */
.cl-effect-12 a::before,
.cl-effect-12 a::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  content: '';
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
  transform: translateX(-50%) translateY(-50%) scale(0.2); }

.cl-effect-12 a::after {
  width: 40px;
  height: 40px;
  border-width: 6px;
  transform: translateX(-50%) translateY(-50%) scale(0.8); }

.cl-effect-12 a:hover::before,
.cl-effect-12 a:hover::after,
.cl-effect-12 a:focus::before,
.cl-effect-12 a:focus::after {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1); }
